.container {
    max-width: 980px;
    height: 510px;
    margin: 15px auto 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 0px solid rgba(255, 255, 255, 1);
    overflow: hidden;
    position: relative;
}
.container ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.container a {
    background-color: rgba(249, 255, 246, 0.73);
    line-height: 73px;
    font-family: Impact;
    font-size: 50px;
    display: block;
    float: right;
    min-width: 390px;
    padding: 0 5px;
    color: #2A2A2A;
}
.container .baner-text {
    position: absolute;
    bottom: 50px;
    right: 0;
    padding-top: 400px;
}


.container .slider {
    overflow:hidden; /* Скрываем всё что за блоком слайдера */
    position:relative;
    width: 980px;
    height: 510px;
    margin: 0 auto;
}

.container .slider .slides {
    position:relative;
    transition: 2s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
}

.container .slider .slides .slide {
    float:left;
    display:block;
}

.container .slider .slides .slide img{
    width: 980px;
    height: 510px;
}

.container .slider .next {
    position:absolute;
    height:50px;
    width:50px;
    right:0;
    top:225px;
    z-index:1;
    cursor:pointer;
}

.container .slider .prev {
    position:absolute;
    height:50px;
    width:50px;
    left:0;
    top:225px;
    z-index:1;
    cursor:pointer;
}


