.conteiner {
    max-width: 980px;
    height: 510px;
    margin: 15px auto 20px;
    background: url("../images/shares/1.jpg");
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 0px solid rgba(255, 255, 255, 1);
}
.conteiner a {
    background-color: rgba(249, 255, 246, 0.73);
    line-height: 73px;
    font-family: Impact;
    font-size: 50px;
    display: block;
    float: right;
    min-width: 390px;
    padding: 0 5px;
    color: #2A2A2A;
}
.conteiner .baner-text {

    padding-top: 400px;
}
