
.background-shares {
    width: 980px;
    height: 2090px;
    margin: 0px auto 10px;
    background: rgba(85, 85, 85, 0.85)
}
.background-shares .logo-shares img {
    margin-top: 70px;
    margin-left: 38px;
    margin-bottom: 60px;

}
.text-shares {
    width: 757px;
    text-align: left;
    margin-left: 220px;
}
.text-shares h2 {
    color: #EAD027;
    margin-top: -160px;
    font-family: "Arial Black";
    font-size: 26px;
    margin-left: -38px;
}
.text-shares p {
    color: white;
    font-family: Arial;
    margin-left: -38px;
}
hr {
    margin: 5px 60px 5px;
    margin-bottom: -20px;
    border: 2px solid black;
}